@use '../../styles/variables' as *;

.aboutContainer {
  width: 100%;
  background-color: $color-white;
  padding: 0;
}

.aboutLayout {
  display: flex;
  align-items: stretch;
  min-height: 70vh;
}

.aboutImage {
  flex: 1 1 50%;
  min-height: 420px;
  background-size: cover;
  background-position: center;
}

.aboutContent {
  flex: 1 1 50%;
  padding: 3.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.aboutContent h1 {
  font-family: $font-family-secondary;
  color: $color-primary;
  font-size: 2rem;
}

.aboutContent p {
  color: $color-text-dark;
  line-height: 1.6;
}