// Colors
$color-primary:       #205691; // azul Escuro
$color-secondary:     #00AAFF; // azul Claro
$color-accent:        #122F97; // azul Vibrante
$color-success:       #278733; // verde
$color-bg-light:      #D4E7D6; // fundo
$color-bg-card:       #EFEEEA; // fundo  Card de perfil

$color-white:         #FFFFFF;
$color-black:         #000000;
$color-text-dark:     #333333;

// Typography

$font-family-primary:   'Inter', sans-serif; // texto, menus, detalhes
$font-family-secondary: 'Source Sans 3', sans-serif; // titulo grande
$font-family-tertiary:  'Alatsi', sans-serif; // Subtituloe

//weight
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-semibold: 600;
$font-weight-bold:    700;
