@use '../../styles/variables' as *;

.navbarContainer {
  width: 100%;
  min-height: 10vh;
  background-color: $color-primary;
}

.navbarSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5%;
}

.navbarInfo {
  display: flex;
  gap: 2rem;
  font-family: $font-family-primary;
}

.navbarInfo a {
  color: $color-white;
  font-size: 1.1rem;
}

.logo {
  width: 120px;
  height: auto;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid $color-secondary 3px;
}
