@use '../../styles/variables' as *;

.footerContainer {
  width: 100%;
  min-height: 12vh;
  background-color: $color-primary;
}

.footerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5%;
}

.footerLogo {
  min-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo h3{
  color: $color-white;
  font-size: 1.5rem;
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
}

.footerInfo {
  color: $color-white;
  font-family: $font-family-primary;
  min-width: 520px;
  font-size: 1rem;
  text-align: center;
}

.footerSocial {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
}

.footerSocial img {
  width: 30px;
  height: 30px;
  }